.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #f9fafc;
}
.skin-blue .sidebar a {
    color: #444;
}
.skin-blue .sidebar-menu>li:hover>a, 
.skin-blue .sidebar-menu>li.active>a, 
.skin-blue .sidebar-menu>li.menu-open>a {
    color: #000;
    background: #f4f4f5;
}
.skin-blue .user-panel>.info, 
.skin-blue .user-panel>.info>a {
    color: #444;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #f4f4f5;
}

.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
    color: #444;
}
.table thead tr th {
    text-align: center;
}
.input-radius {
    border-radius: 5px;
}
.checkbox, .radio {
    display: inline-block;
}
.is-invalid{
    border: 1px solid #aa4745;
}
.table tbody form{
    display: inline-block;
}
.table tbody tr th {
    background-color: #ACD4F9;
}
.radio {
    margin-right: 15px;
}
.text-sllipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.content {
    min-height: 0;
}
.textarea-contnet {
    white-space: pre-wrap;
}
.input-group.date .dropdown-menu{
    display: block;    
}
.select2 {
    width: 100%;
}
table.table thead tr {
    background-color: #ACD4F9;
}
.boder-top {
    border-top: 1px solid #bfbcbc;
    margin: 0 auto;
    padding-top: 10px;
}
.action {
    width: 200px;
}
.breadcrumb-title {
    display: inline-block;
}